.ham-icon {
  cursor: pointer;
}

.ham-icon > div {
  height: 3px;
  background-color: black;
  transition: all 0.2s ease-in;
}

.ham-icon > div:nth-child(1) {
  width: 40%;
}

.ham-icon > div:nth-child(2) {
  margin: 6px 0;
  width: 100%;
}

.ham-icon > div:nth-child(3) {
  width: 60%;
}

.ham-icon:hover > div:nth-child(1) {
  width: 100%;
}

.ham-icon:hover > div:nth-child(2) {
  width: 70%;
}

.ham-icon:hover > div:nth-child(3) {
  width: 50%;
}
